<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.polotechnologies.mobifish">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.CartDetailsActivity"
            android:theme="@style/AppTheme1"
            android:parentActivityName=".ui.CartActivity"/>
        <activity android:name=".ui.CartActivity"
            android:parentActivityName=".ui.CustomerMainActivity"/>
        <activity
            android:name=".ui.FishDetailsMainActivity"
            android:theme="@style/AppTheme1" />
        <activity
            android:name=".ui.FisherManActivity"
            android:label="@string/title_activity_fisher_man"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.CustomerMainActivity"
            android:label="Customer" />
        <activity android:name=".ui.CreateAccountActivity" />
        <activity android:name=".ui.FishDetailsActivity" />
        <activity
            android:name=".LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.NewFishActivity"
            android:label="New Fish"
            android:parentActivityName=".FisherManMainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>